- name: Deploy on EC2
  run: |
    ssh ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }} << 'EOF'
      set -e
      cd devops-cicd-project
      git pull

      docker stop devops-app || true
      docker rm devops-app || true

      docker build -t devops-app .
      docker run -d --restart unless-stopped --name devops-app -p 3000:3000 devops-app
    EOF

